<h2>Look up a Car:</h2>
<br/>
<form asp-action="Search" asp-controller="Home">
    <label for="make">Make</label>
    <input type="text" name="make" />
    <br />

    <label for="model">Model</label>
    <input type="text" name="model" />
    <br />

    <label for="year">Year</label>
    <input type="text" name="year" maxlength="4" />
    <br />

    <label for="color">Color</label>
    <input type="text" name="color" />
    <br />
    <input type="submit" value="Search Records" />
</form>